{% extends 'layout.html' %}

{% block body %}
  {% from "includes/_form_helpers.html" import render_field %}
  <div class="outer">

    <div class="middle">

      <div class="inner">
        <form method="POST" action="">

          <div class="box">
            <img class="mb-4" src="/static/images/logo.png" alt="">
          </div>


          <h3 class="text-center mb-3 pb-3"> Login Admin </h3>

          <div class="form-group">
            <label> Username </label>
            <input type="text" name="Username" class="form-control" value="{{request.form.Username}}" required>
          </div>

          <div class="form-group">
            <label> Password </label>
            <input type="password" name="Password" class="form-control" value="{{request.form.Password}}" required>
          </div>

          <div class="box mt-4">
            <button type="submit" class="btn btn-primary submit-button">Login </button>
          </div>
        </form>
    </div>
  </div>
{% endblock %}
