{% extends 'layout.html' %}

{% block body %}
  {% from "includes/_form_helpers.html" import render_field %}

  <div class="outer fadein" style="display:none">
    <div class="middle">
      <div class="inner">

        <form method="POST" action="">

          <div class="box">
            <img class="mb-4" src="/static/images/logo.png" alt="" width="300" height="200">
          </div>

          <h3 class="text-center mb-3 pb-3"> Create Admin Account </h3>

          <div class="form-group">
            {{ render_field(form.Name, class="form-control",placeholder="*Required")}}
          </div>
          <div class="form-group">
            {{ render_field(form.Email, class="form-control",placeholder="*Required")}}
          </div>
          <div class="form-group">
            {{ render_field(form.Username, class="form-control",placeholder="*Required")}}
          </div>
          <div class="form-group">
            {{ render_field(form.Password, class="form-control",placeholder="*Required")}}
          </div>
          <div class="form-group">
            {{ render_field(form.Confirm, class="form-control",placeholder="*Required")}}
          </div>
          <div class="form-group">
            {{ render_field(form.Department, class="form-control")}}
          </div>
          <!-- Submit Button -->
          <div class="box mt-4">
            <input type="submit" class="btn btn-primary submit-button" value="Register">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
