{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flashes text-center alert alert-{{ category }} col-sm-12" style="display:none; position:fixed">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="flashes text-center alert alert-danger col-sm-12" style="display:none; position:fixed"> {{error}} </div>
{% endif %}

{% if msg %}
  <div class="flashes text-center alert alert-success col-sm-12" style="display:none; position:fixed"> {{msg}} </div>
{% endif %}
