{% extends 'layout.html'%}
{% block body %}
<div class="outer">
  <div class=" middle text-center">

    {% for queue in queues %}

      {% if queue.Parent_name %}
        <div id="display-name"><p> {{queue.Parent_name}} </p></div>
        <div id="display-info"><p>Please go to <strong>Counter {{queue.Counter_number}}</strong> of the {{queue.Department}} Department office. </p></div>

      {% elif queue.Student_name %}
        <div id="display-name"><p> {{queue.Student_name}} </p></div>
        <div id="display-info"><p>Please go to <strong>Counter {{queue.Counter_number}}</strong> of the {{queue.Department}} Department office. </p></div>
      {% endif %}

      {%if queue.Department == 'Academic' %}
        <div class="box">
          <img class="rotate180" src="/static/images/arrow-right.svg" alt="" width="350" height="350">
        </div>
      {% elif queue.Department == 'Accounting'%}
        <div class="box">
          <img src="/static/images/arrow-right.svg" alt="" width="350" height="350">
        </div>
      {% elif queue.Department == 'Front Desk'%}
        <div class="box">
          <img class="rotate90" src="/static/images/arrow-right.svg" alt="" width="350" height="350">
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block custom_scripts %}

<script>
  /* AJAX request to checker */
  function check() {
    var val;
    $.ajax({
      type: 'GET',
      url: 'checker',
      dataType: 'json',
      data: {update_display : val },
    }).done(function(response) {
      if (response.update_display == 1) {
        location.reload();
      }
    });
  }
  //Every 0.5 sec check if there is new update
  setInterval(check,5000);
</script>

{% endblock %}
