{% extends 'layout.html' %}

{% block body %}
  {% from "includes/_form_helpers.html" import render_field %}

  <div class="outer fadein" style="display:none">
    <div class="middle">
      <div class="inner" >

        <form method="POST" action="">
        <!-- Visitor-->
        {% if session.user_type == 'Parent' %} <!-- Parent-->
          {% if session.selected_language == 'English' %} <!-- If user picked english-->

            <h3 class="text-center mb-3 pb-3"> Parent Information Request Form </h3>
            <div class="form-group ">
              {{ render_field(form.en_Parent_name, class="form-control" ,placeholder="*Required" )}}
            </div>
            <div class="form-group">
              {{ render_field(form.en_Student_name, class="form-control" ,placeholder="*Required" )}}
            </div>
            <div class="form-group">
              {{ render_field(form.en_Student_id, class="form-control" ,placeholder="*Optional" )}}
            </div>

          {% elif session.selected_language == 'Khmer' %} <!-- If user picked Khmer-->

            <h3 class="text-center mb-3 pb-3 khmer-font2"> ឪពុកម្តាយសំណុំបែបបទស្នើសុំព័ត៌មាន </h3>
            <div class="form-group khmer-font1">
              {{ render_field(form.kh_Parent_name, class="form-control" ,placeholder="*ត្រូវការ" )}}
            </div>
            <div class="form-group khmer-font1">
              {{ render_field(form.kh_Student_name, class="form-control" ,placeholder="*ត្រូវការ" )}}
            </div>
            <div class="form-group khmer-font1">
              {{ render_field(form.kh_Student_id, class="form-control" ,placeholder="*មិនចាំបាច់" )}}
            </div>

          {% endif %}

        <!-- Student -->
        {%elif session.user_type == 'Student' %}
          {% if session.selected_language == 'English' %} <!-- If user picked english-->

            <h3 class="text-center mb-3 pb-3"> Student Information Request Form </h3>
            <div class="form-group">
              {{ render_field(form.en_Student_name, class="form-control" ,placeholder="*Required" )}}
            </div>
            <div class="form-group">
              {{ render_field(form.en_Student_id, class="form-control" ,placeholder="*Optional" )}}
            </div>

          {% elif session.selected_language == 'Khmer' %} <!-- If user picked Khmer-->

            <h3 class="text-center mb-3 pb-3 khmer-font1"> និសសិតសំណុំបែបបទស្នើសុំព័ត៌មាន </h3>
            <div class="form-group khmer-font1">
              {{ render_field(form.kh_Student_name, class="form-control" ,placeholder="*ត្រូវការ" )}}
            </div>
            <div class="form-group khmer-font1">
              {{ render_field(form.kh_Student_id, class="form-control" ,placeholder="*មិនចាំបាច់" )}}
            </div>

          {% endif %}


        <!-- Visitor-->
        {%elif session.user_type == 'Visitor'%}

          {% if session.selected_language == 'English' %} <!-- If user picked english-->
            <h3 class="text-center mb-3 pb-3"> Visitor Information Request Form </h3>
            <div class="form-group">
              {{ render_field(form.en_Parent_name, class="form-control" ,placeholder="*Required" )}}
            </div>

            <div class="form-group">
              {{ render_field(form.en_Contact, class="form-control" ,placeholder="*Optional" )}}
            </div>

          {% elif session.selected_language == 'Khmer' %} <!-- If user picked Khmer-->

            <h3 class="text-center mb-3 pb-3 khmer-font1"> អ្នកមកមើលសំណុំបែបបទស្នើសុំព័ត៌មាន </h3>
            <div class="form-group khmer-font1">
              {{ render_field(form.kh_Parent_name, class="form-control" ,placeholder="*ត្រូវការ" )}}
            </div>

            <div class="form-group khmer-font1">
              {{ render_field(form.kh_Contact, class="form-control" ,placeholder="*មិនចាំបាច់" )}}
            </div>
          {% endif %}

        {% endif %}
        <!-- END OF CONDITIONAL STATEMENT-->

          <!-- Submit Button -->
          {% if session.selected_language == 'English' %} <!-- If user picked english-->
            <div class="box mt-4">
              <input type="button" class="btn btn-danger submit-button mr-2" onclick="location.href='select_user_type';" value="Back">
              <input type="submit" class="btn btn-primary submit-button ml-2" value="Confirm">
            </div>
          {% elif session.selected_language == 'Khmer' %}
            <div class="box mt-4">
              <input type="button" class="btn btn-danger submit-button mr-2 khmer-font1" onclick="location.href='select_user_type';" value="ត្រឡប់​ក្រោយ">
              <input type="submit" class="btn btn-primary submit-button ml-2 khmer-font1" value="បហ្ជាក់">
            </div>
          {% endif %}

        </form>

      </div>
    </div>
  </div>




{% endblock %}
