{% extends 'layout.html' %}

{% block body %}
  {% from "includes/_form_helpers.html" import render_field %}

  <div class="outer">
    <div class="middle">
      <div class="inner">
        {% if session.User_type == 'Parent' %}
        <form method="POST" action="">

          <div class="form-group">
            {{ render_field(form.Fullname, class="form-control")}}
          </div>
          <div class="form-group">
            {{ render_field(form.Student_name, class="form-control")}}
          </div>
          <div class="form-group">
            {{ render_field(form.Student_id, class="form-control")}}
          </div>

        </form>

        {% endif %}

      </div>
    </div>
  </div>




{% endblock}
