{% extends 'layout.html' %}

{% block body %}
  <div class="outer">
    <div class="container middle text-center">

      <h3 class="pb-4"> Select Language </h3>

      <div class="row inner">

        <div class="col-sm-4">
          Khmer
          <div class="clear"></div>
          <img src="/static/flags/blank.gif" class="flag flag-kh" alt="Khmer" />
        </div>

        <div class="col-sm-4">
          English
          <div class="clear"></div>
          <img src="/static/flags/blank.gif" class="flag flag-gb" alt="English" />
        </div>


        <div class="col-sm-4">
          Chinese
          <div class="clear"></div>
          <img src="/static/flags/blank.gif" class="flag flag-cn" alt="Chinese" />
        </div>

      </div>
    </div>
  </div>

{% endblock %}
