{% extends 'layout.html' %}

{% block body %}
  {% from "includes/_form_helpers.html" import render_field %}
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <form action="" method="POST" >
          <h3 class="text-center mb-3 pb-3"> {% if session.Selected_language == 'English'%} I am a ... {% else %} ខ្ញុំ​ជា... {% endif %} </h3>

          <button type="submit" name="User_type" value="Parent" class="btn btn-info btn-lg btn-block">
            {% if session.Selected_language == 'English'%} Parent {% elif session.Selected_language == 'Khmer' %} ឪពុកម្តាយ {% endif %}
          </button>

          <button type="submit" name="User_type" value="Student" class="btn btn-info btn-lg btn-block">
            {% if session.Selected_language == 'English'%} Student {% elif session.Selected_language == 'Khmer' %} សិស្ស {% endif %}
          </button>

          <button type="submit" name="User_type" value="Visitor" class="btn btn-info btn-lg btn-block">
            {% if session.Selected_language == 'English'%} Visitor {% elif session.Selected_language == 'Khmer' %} ផ្ញ្យេវ {% endif %}
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
