{% extends 'layout.html' %}

{% block head %}
  <!-- Flags -->
  <link href="/static/flags/flags.min.css" rel=stylesheet type="text/css">
{% endblock %}

{% block body %}
  <div class="outer">
    <div class="container middle text-center">

      <h2 class="pb-4"> Select Language </h2>

      <div class="row inner">

        <div class="col-sm-6">
          <a href="/select_user_type" class="decoration-none">
            <h4>Khmer</h4>
            <div class="clear"></div>
            <img src="/static/flags/blank.gif" class="flag flag-kh" alt="Khmer" />
          </a>
        </div>

        <div class="col-sm-6">
          <a href="/select_user_type" class="decoration-none">
            <h4>English</h4>
            <div class="clear"></div>
            <img src="/static/flags/blank.gif" class="flag flag-gb" alt="English" />
          </a>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
