{% extends 'layout.html' %}

{% block body %}
  {% from "includes/_form_helpers.html" import render_field %}
  <div class="outer fadein" style="display:none">
    <div class="middle">
      <div class="inner">
        <form action="" method="POST">
          <h3 class="text-center mb-3 pb-3"> {% if session.selected_language == 'English'%} I am a ... {% elif session.selected_language == 'Khmer' %} <span class="khmer-font2">ខ្ញុំ​ជា... </span>{% endif %} </h3>

          <button type="submit" name="User_type" value="Parent" class="btn btn-info btn-lg btn-block">
            {% if session.selected_language == 'English'%} Parent {% elif session.selected_language == 'Khmer' %} <span class="khmer-font1">ឪពុកម្តាយ </span>{% endif %}
          </button>

          <button type="submit" name="User_type" value="Student" class="btn btn-info btn-lg btn-block">
            {% if session.selected_language == 'English'%} Student {% elif session.selected_language == 'Khmer' %} <span class="khmer-font1"> សិស្ស </span>{% endif %}
          </button>

          <button type="submit" name="User_type" value="Visitor" class="btn btn-info btn-lg btn-block">
            {% if session.selected_language == 'English'%} Visitor {% elif session.selected_language == 'Khmer' %} <span class="khmer-font1"> ផ្ញ្យេវ </span>{% endif %}
          </button>

          {% if session.selected_language == 'English' %} <!-- If user picked english-->
          <div class="box mt-4">
            <input type="button" class="btn btn-danger submit-button mr-2" onclick="location.href='/';" value="Back">
          </div>
          {% elif session.selected_language == 'Khmer' %}
          <div class="box mt-4">
            <input type="button" class="btn btn-danger submit-button mr-2 khmer-font1" onclick="location.href='/';" value="ត្រឡប់​ក្រោយ">
          </div>
          {% endif %}

        </form>
      </div>
    </div>
  </div>
{% endblock %}
