{% extends 'layout.html'%}
{% block body %}
<div class="outer">
  <div class=" middle text-center">

    <h4 class="pb-4"> What is Your Type of Visit as? </h4>
    <div class="inner">

        <button type="button" class="btn btn-info btn-lg btn-block">as a Parent</button>


        <button type="button" class="btn btn-info btn-lg btn-block">as a Student</button>


        <button type="button" class="btn btn-info btn-lg btn-block">as a Visitor</button>

    </div>
  </div>
</div>
{% endblock %}
