/* Font Section*/
.khmer-font1	{
  font-family: 'Kantumruy', sans-serif;
}
.khmer-font2 {
  font-family: 'Dangrek', cursive;
}

h1, h2 {
  font-family: 'Advent Pro', sans-serif;
}

a, h3, h4 {
  font-family: 'Coda', cursive;
}

th, td, #flashes {
  font-family: 'Muli', sans-serif;
}

button, input, p, span {
  font-family: 'Abel', sans-serif;
}

/* The usage of flex in boxes allows the content to be more flexible in terms of display (especially smaller screens)*/
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: auto;
  height: auto;
}

/*Flashing Messages*/
#flashes {
  border-radius: 0px;
  z-index: 1031; /*We don't want the navbar(1030) to appear over on top*/
}

/* Vertical center alignment
outer: is for differentiating between middle and center, absolute position relative to body (the parent ancestor position).
middle: it works thanks to the help of table display, the vertical-align attribute works as what people expect but only in table like displays such as below.
inner: an addon for making content under middle class appear a certain way.
*/
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
}


/* Custom Classes*/
.error-message {
  color: red;
}

.submit-button {
  width: 150px;
}

.clear {
  clear:both;
}

/* Workspace Navbar */
[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

/* Workspace table header fixed top*/
thead,table.floatThead-table{
  color: black;
  background-color: #fff;
}

.table thead th {
    border-bottom: none;
    border-top: none;
}

/* Queue Container */
.queue-container{
    min-height: 600px;
    max-height: 600px;
    overflow-y: auto;
    margin: auto;
}

#queue-message {
  border: 2px solid #d6d6d6;
  background-color: #d6d6d6;
  color: #515151;
  border-radius: 4px;
}

#display-name {
  font-size: 10vw;
  font-weight: bold;
}
#display-info {
  font-size: 4vw;
}

/* Dashboard Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*rotations*/
.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
